@use '../../styles/variables.scss' as *;

.about{
  display: flex; flex-direction: column; gap: 30px;
  h1 {margin-bottom: 15px; color: $accent; font-weight: 900;}
  h2 {color: $brown; margin: 10px auto; border-bottom: 3px solid $brown;}
  p{line-height: 150%;}

  &__intro{
    h2{width: 110px;}
  }

  &__contact{
    h2{width: 65px;}
  }
}
