@use '../../styles/variables.scss' as *;

/* Page */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

/* Login form */
.login-form {
  width: 480px;
  margin: 0 auto;
  text-align: center;

  &__title {
    margin-bottom: 50px;
  }

  &__field {
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: 258px;
    height: 30px;
    padding: 0 10px;

    border: 1px solid $text;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  &__remember {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    input {
      accent-color: $accent;
    }

    p {
      font-size: 14px;
    }
  }

  &__submit {
    width: 100%;
    height: 35px;
    margin-top: 30px;

    border: none;
    background-color: $brown;
    color: #fff;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $accent;
    }
  }
}

.login-links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &__item {
    width: 480px;
    height: 17px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      border-bottom: 1px solid $black;
    }
  }
}
