@use '../../styles/variables.scss' as *;

.privacy {
  text-align: left;
  
  section {
    margin: 10px 0; padding: 20px 0;
    border-bottom: 1px solid $gray;

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  h1 {
    font-weight: 700;
    color: $brown;
    text-align: center;
    margin-bottom: 1.8rem;
  }
  h2 {
    font-weight: 700;
    line-height: 1.4;
    color: $brown;
    margin-bottom: 1.2rem;
    padding-left: 18px;
    border-left: 6px solid $brown;
  }

  .last-updated {
    font-size: 14px;
    text-align: right;
    margin-bottom: 2.5rem;
  }

  p {
    margin-bottom: 1rem;
    text-align: justify;

    > span {
      display: block;
      margin-bottom: 0.5em;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }
}
