@use '../../styles/variables.scss' as *;

.signup {
  .page-static__wrap {
    display: flex; flex-direction: column;
    justify-content: center;
    width: 600px;
  }
}

.signup-form {
  form {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h1 { margin-bottom: 50px; }

    > button {
      display: flex;
      justify-content: center; align-items: center;

      width: 100%;
      height: 35px;
      margin-top: 10px;
      border: none; border-radius: 10px;
      background-color: $brown;

      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s linear;

      &:hover { color: $accent; }
    }

    ul {
      display: flex;
      justify-content: space-between; align-items: center;
      margin: 8px auto;

      span { color: $accent; }

      input {
        width: 250px;
        height: 30px;
        padding: 0 10px;
        border: 1px solid $text;
        border-radius: 0;

        &:focus { outline: none; }
      }
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 30px;

      p {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        input { accent-color: $accent; }
      }

      span {
        font-size: 14px;
        cursor: pointer;

        &:hover { text-decoration: underline; }
      }
    }

  }
}

.login-links {
  display: flex; flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 50px;

  &__item {
    display: flex;
    justify-content: space-between; align-items: baseline;
    width: 80%;
    height: 17px;

    p { margin: 0; font-size: 14px; }
    a { border-bottom: 1px solid $black; }
  }
}

@media (max-width: 767px) {
  .signup .page-static__wrap {
    padding: 3%;
  }
  .signup-form {
    form {
      ul { flex-direction: column; align-items: stretch; gap: 5px; }
      input{margin-bottom: 10px;}
    }
    label {
      input{margin-bottom: 3px;}
    }
  }
}
