@use '../../styles/variables.scss' as *;

.signup_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

#signup {
  width: 480px;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-bottom: 50px;
  }

  /* 버튼: a 제거 + flex 중앙 정렬 */
  > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: none;
    background-color: $brown;

    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: $accent;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;

    span {
      color: $accent;
    }

    input {
      width: 258px;
      height: 30px;
      padding: 0 10px;
      border: 1px solid $text;
      border-radius: 0;

      &:focus {
        outline: none;
      }
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;

    input {
      accent-color: $accent;
    }

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
    }

    a {
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#signup_rel {
  position: relative;

  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 32px;
    border: none;
    background-color: $brown;

    color: #fff;
    cursor: pointer;
    transition: color 0.3s linear;

    &:hover {
      color: $accent;
    }
  }
}

.login-links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &__item {
    width: 480px;
    height: 17px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      border-bottom: 1px solid $black;
    }
  }
}