@use "../../styles/variables.scss" as *;

.adMain{
  margin-left: calc(170px + 3%);

  &__wrap{
  padding-top: 30px;
  }

  &__title{
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 25px;
    button{
      border: none;
      border-radius: 50px;
      background-color: #fff;
      padding: 5px 15px;
      cursor: pointer;
      &:hover{background-color: $accent; color: #fff;}
    }
  }

  &__nav{
    &__sort{
      display: flex;
    }
    &__search{
      display: flex; gap: 8px; align-items: center;
    }
  }
}
