@use '../../../styles/variables.scss' as *;

.keyword-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;

  &__item {
    padding: 6px 15px;
    border: 1px solid $gray;
    border-radius: 30px;
    background: #fff;
    font-size: 14px;
    line-height: 1;
    color: $black;
    cursor: pointer;

    transition: background-color 0.15s ease,
                border-color 0.15s ease,
                color 0.15s ease;

    &:hover {
      background-color: $light;
      border-color: $brown;
    }

    &.is-active {
      background: $brown;
      border-color: $brown;
      color: #fff;
    }
  }
}
