@use '../../../styles/variables.scss' as *;

.gallery-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;

  .gallery-card {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;

    /* hover */
    &:hover {
      border-color: $brown;
      background-color: $soft;
    }
    a {
      display: flex;
      width: 100%;
      min-width: 0;
      text-decoration: none;
      color: inherit;
    }

    /* 이미지 영역 */
    .card-image {
      flex: 0 0 45%;        /* 가로 비율 고정 */
      aspect-ratio: 16 / 9; /* 이미지 전용 비율 */
      position: relative;
      background: center / cover no-repeat;
      overflow: hidden;

      min-width: 0;
      flex-shrink: 0;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 70%,
          rgba(255, 255, 255, 1) 100%
        );
        pointer-events: none;
      }
    }

    /* 텍스트 영역 */
    .card-content {
      flex: 1;
      min-width: 0;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.3;
      }

      p {
        font-size: 16px;
        margin-bottom: 4px;
        line-height: 1.4;
        word-break: keep-all;
      }

      .card-content-small {
        font-size: 14px;
      }

      .card-content-tag {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 10px;
      }
    }
  }

  /* 화면 너비 1024px 이하: grid 1열 */
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    .gallery-card {
      .card-image {
        flex-basis: 45%; /* 동일 비율 유지 */
        aspect-ratio: 16 / 9;
      }

      .card-content {
        padding: 20px;
      }
    }
  }
}
