@use './styles/variables.scss' as *;

// 전역
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit; text-decoration: none;
}

ul {
  margin: 0; padding: 0;
  list-style: none;
}

// alert
.custom-popup {
  width: 500px;
  padding: 20px 0;
  font-size: 14px; font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 10px $black;
}

.custom-button {
  padding: 8px 20px;
  font-size: 14px;
  background-color: $brown; color: #fff;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: $brown;
  color: $accent-sub;
}

// button
.btn-box {
  display: flex; gap: 5px;
  button{
    background-color: transparent;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 3px 10px;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover{background-color: $light;}
  }
}

// hover
.hover-underline {
  padding-bottom: 3px;
  border-bottom: 1px solid $text;

  &:hover {
    border-bottom-width: 2px;
    border-bottom-color: $accent-sub;
  }
}

.hover-underline-a {
  a {
    border-bottom: 1px solid $text;

    &:hover {
      border-bottom-width: 2px;
      border-bottom-color: $accent-sub;
    }
  }
}

// tag
.tag-list {
  display: flex; gap: 5px;
}

.tag-item {
  padding: 4px 8px;
  border: 1px solid #ccc; border-radius: 12px;
  font-size: 12px;
  background-color: #f9f9f9;
  cursor: default;
  white-space: nowrap;
}

.tag-item-color {
  padding: 5px 15px;
  border: 2px solid $brown; border-radius: 30px;
  font-size: 14px;
  background-color: $light;
  cursor: default;
  white-space: nowrap;
}

// modal
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal__content {
  position: relative;
  background: white;
  width: 520px;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  animation: modalFade 0.2s ease-out;
}

@keyframes modalFade {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
