// 배경색
$bg-page: var(--color-bg-page);
$bg-header: var(--color-bg-header);
$bg-footer: var(--color-bg-footer);

// 글자색
$text: var(--color-text);
$text-inverse: var(--color-text-inverse);

// 테마색
$accent: var(--color-accent);
$accent-sub: var(--color-accent_sub);
$soft: var(--color-soft);
$light: var(--color-light);
$brown: var(--color-brown);
$gray: var(--color-gray);
$black: var(--color-black);
