@use '../../../styles/variables.scss' as *;

.ReviewForm {
  width: 100%;
}

.ReviewForm__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  h3 {font-size: 20px; color: $brown;}
  textarea{ padding: 10px;}
  .rating-box{
    span{color: $accent;}
    p{margin-top: 5px;}
  }
  .btn-box {
    justify-content: center;
  }
}