@use '../../../styles/variables.scss' as *;

.ReviewForm {
  width: 100%;
}

.ReviewForm__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 20px;
    color: $brown;
  }

  p {
    font-size: 15px;
    color: #666;
  }

  .btn-box {
    justify-content: center;
  }
}
